.recipe-photo {
  width: 5em;
  height: 5em;
}

.upper-row {
  
}

.bottom-row {

}

.border-default {
  border-radius: 1em;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}