.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgroud-app-receitas.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.space-button {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
